@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=latin-ext');
/* CSS declarations go here */
* {
  font-family: 'Open Sans', arial, helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: url('https://images.unsplash.com/photo-1475084124271-aebaf8a67166?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}
/* ____________________ Header */
header {
  padding: 2% 0 0 0;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.07);
}
header > .container > .row:nth-child(1) > .brand {
  text-align: center;
}
header img {
  width: 100%;
}
header h1 {
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: .3em;
  color: #6c9a00;
  text-align: right;
}
/* ____________________ Main */
main {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  z-index: 1;
}
main > section {
  height: 50%;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, .9);
  padding: 5%;
  border-radius: 20px;
}
main > section > div {
  position: relative;
  height: 100%;
  width: 100%;
}
main > section > div > div {
  height: 80%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
main > section {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
*/
/*
main > section {
  min-height: 50%;
  min-width: 70%;
  padding: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255, .9);
  border-radius: 10px;
}
main > section > div {
  height: 100%;
  width: 100%;
  position: relative;
}
main > section > div > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/
